<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client />
        <behaviors>
            <serviceBehaviors>
                <behavior name="Server.WCFServicesBehavior">
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
                        includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="Server.Service1Behavior">
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Server.WCFServicesBehavior" name="Server.WCFServices">
                <endpoint address="net.tcp://192.168.1.115:8200/Test" binding="netTcpBinding"
                    bindingConfiguration="Test.netTcpBinding" name="netTcpEndpoint"
                    contract="Server.IWCFServices" />
                <endpoint address="net.tcp://192.168.1.115:8002/Test/mex" binding="mexTcpBinding"
                    bindingConfiguration="Test.mexTcpBinding" name="mexTcpEndpoint"
                    contract="IMetadataExchange" />
            </service>
        </services>
      <bindings>
        <netTcpBinding>
          <binding name="Test.netTcpBinding" transferMode="Streamed" />
        </netTcpBinding>
        <mexTcpBinding>
          <binding name="Test.mexTcpBinding" />
        </mexTcpBinding>
      </bindings>
    </system.serviceModel>
</configuration>
